{% extends 'default.html' %}
{% block title %}
<h1 class="page-title">Все объявления категории {{ category_name }}</h1>
{% endblock %}
{% block content %}
    {% for p in category_posts_list %}
        <div style="border: 2px solid #ccc; border-radius: 10px; padding: 15px; margin-bottom: 20px; background-color: #f8f9fa;">
            <p>{{ p.user }} {{ p.date_in|date:"d E Y, H:i" }}</p>
            <h4><a href="{% url 'post' p.pk %}" style="text-decoration: none; color: black;">{{ p.title }}</a></h4>
            <p style="font-size: 18px; color: gray;">Категория: {{ p.category }}</p>
            <span style="font-size: 22px;">{{ p.text|safe }}</span>
            <p><i><a href="{% url 'post' p.pk %}" style="text-decoration: none; color: black;">Откликнуться 💬 ️️</a></i></p>
        </div>
    {% endfor %}
<div style="text-align: center;">
    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
</div>
{% endblock %}