{% extends 'default.html' %}

{% block content %}
<div style="text-align: center;">
    <h2>Войти</h2>
    <br>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table style="margin: 0 auto;">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Войти">
    </form>
    <button> <a href="/sign/signup"> Регистрация </a></button>
</div>
{% endblock %}
