{% extends 'default.html' %}

{% block content %}
<h1>Личный кабинет {{ user.username }}</h1>
<hr>
<h4>Выберите объявление</h4>
<br>
<form action="" method="get">
    {{ filterset.form }}
    <br>
    <input type="submit" value="Найти">
</form>
<br>
<button><a href="/personal">Сбросить фильтр</a></button>
<br>
<br>
<h4>Все отклики на объявление</h4>
{% for r in filterset.qs %}
    <div style="border: 1px solid #ccc; border-radius: 10px; padding: 10px; margin-bottom: 10px;">
        <p>{{ r.user }} {{ r.date_in|date:"d E Y, H:i" }}</p>
        <p>{{ r.text }}</p>
        {% if user == r.post.user %}
            {% if not r.status %}
                <form action="{% url 'accept_response' r.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit">✓ Принять</button>
                </form>
                <form action="{% url 'deny_response' r.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit">✘ Отклонить</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endfor %}
{% endblock %}

