{% extends 'default.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>Добавить объявление</h1>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.media }}
                <input type="submit" class="btn btn-primary" value="Save" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
